body .pad  {
	padding-left: 250px;
	padding-right: 250px;
}
p {
	
	line-height: 0.9em;
	width: 100%;
}
.site-head{
	padding: 20px;
	background-color: #777; /* серый цвет  */
	margin: -8px;
	color: white;
}
.start-txt {
	color: ;
}
ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
a {
	text-decoration: none;
}
li {display: inline;}
header a {
	color: white;
}
.h3-aside{
	color: #777;
}
.site-foot{
	padding: 25px;
	background-color: #777; /* серый цвет  */
	margin: -8px;
	color: white;
}
footer a {
	color: skyblue;
}
html {
	font-family: Courier New;

}
.pad a {
	color: orange;
}
* {box-sizing: border-box;}
.image-decor {
  position: relative;
  display: table;
  margin: 50px auto;
  border: 5px solid #fff;
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, .1);
}
.image-decor:before,
.image-decor:after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 150px;
  height: 55px;
  background: #fff;
  box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, .1);
}
.image-decor:before {
  left: -50px;
  bottom: -30px;
  transform: rotate(30deg);
}
.image-decor:after {
  right: -50px;
  bottom: -30px;
  transform: rotate(-30deg);
}
.image-decor img {display: block;}
.bold {font-weight: bold;}
.dline {line-height: 1.5;}
